{% extends "base.html" %}
{% block main %}
  <div class="px-4 pt-5 my-5 text-end border-bottom">
    <p class="lead mb-4">
      {% if user.is_authenticated %}
      {{ user.username }}
      {% else %}
      <a href='accounts/login'>Login</a>
      <a href='accounts/signup'>Sign up</a>
      {% endif %}
    </p>
  </div>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">New post</h1>
    <div class="col-lg-6 mx-auto">
      <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
        {% csrf_token %}
        {{PostForm.as_p}}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Post</button>
      </form>
      <p class="lead mb-4">Your personalized feed</p>
    </div>
  </div>

  <div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
    <h1 class="display-5 fw-bold">InstaPWN - feed</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Your personalized feed</p>
    </div>
    {% for post in posts %}
      <div class="card text-lg-start">
        <div class="card-body">
          {% if post.author.username == user.username or user.is_staff %}
          <div class="text-end">
          <form action="/posts/delete/{{post.pk}}" method="POST">
          {% csrf_token %}
          <button type="submit" id="completed-task" class="fabutton">
            <i class="bi bi-trash"></i>
          </button>
          </form>
          </div>
          {% endif %}
          <h5 class="card-title">{{post.title | safe}}</h5>
          <p>{{post.content}}</p>
          {% if post.image %}
          <img src="images/{{post.image}}" width="400px"></img>
          {% endif %}
          <div class="text-end">
            {{post.author.username}}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>

  {% endblock %}

